<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

	<h1>Admin: Accounts</h1>

  <div class="row"> 
    <div class="col-xs-12">
			<ul class="list-group">
		    <li class="list-group-item" ng-repeat="account in accounts">
	        <strong>{{account.name}}</strong>	        
	        <button type="button" ng-click="deleteAccount(account)" class="btn btn-danger btn-sm pull-right"><i class="glyphicon glyphicon-trash"></i></button>
		    </li>
		  </ul>
    </div>
  </div>

  <form class="css-form" novalidate name="form">
    <p class="input-group">
      <label>Name:</label>
      <input type="text" ng-model="account.name" class="form-control" name="name" required="" />
      <div ng-show="form.$submitted || form.name.$touched">
        <div class="label label-danger" ng-show="form.name.$error.required">text field is required!</div>
      </div>
  		<button type="submit" class="btn btn-primary" ng-click="addAccount(form, account)">Add Account</button>
      <p class="help-block"><span class="label label-danger">{{ errors.other }}</span></p>
		</p>
	</form>
</div>