<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <div class="container">
  <p>Hallo?</p>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">New Trip:</h1>
    </div>
  </div>

<div ng-controller="TripCtrl">
  <form novalidate class="trip-form">

  	<div class="form-group">
  		<label>driver:</label><input type="text" ng-model="trip.driver" class="form-control" /><br />
	    <label>car:</label><input type="text" ng-model="trip.car" class="form-control" /><br />
	    <label>Type:</label><br /><div class="btn-group">
        <label class="btn btn-primary" ng-model="trip.type" btn-radio="'private'">private</label>
        <label class="btn btn-primary" ng-model="trip.type" btn-radio="'business'">business</label>
    	</div>
	  </div>

    <!-- if business trip -->
  	<div class="form-group">
  		<label>account:</label> 
      <div class="btn-group" dropdown is-open="status.isopen">
	      <button type="button" class="btn btn-primary dropdown-toggle">
	        Sparda <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
          <li ng-repeat="choice in items">
            <a href>{{choice}}</a>
          </li>
	      </ul>
	    </div><br /> 

	  	<label>client:</label><input type="text" ng-model="trip.client" class="form-control" /><br />
	  </div>

    <div class="form-group">
      <label>kilometer start:</label><input type="text" ng-model="trip.trip.kilometer_start" class="form-control" /><br />
      <label>kilometer end:</label><input type="text" ng-model="trip.trip.kilometer_end" class="form-control" /><br />
      <label>kilometer:</label><input type="text" ng-model="trip.trip.kilometer" class="form-control" /><br />
    </div>

    <div class="form-group">    
      <label>origin:</label>      
      <div class="row"> 
        <div class="col-xs-6">
          <input type="text" ng-model="trip.origin" class="form-control" />
        </div>
        <div class="col-xs-6">
          <input type="datetime" ng-model="trip.origin_time" class="form-control" />
        </div>
      </div>
      
      <label>destination:</label>        
      <div class="row"> 
        <div class="col-xs-6">
          <input type="text" ng-model="trip.destination" class="form-control" />
        </div>
        <div class="col-xs-6">
          <input type="datetime" ng-model="trip.destination_time" class="form-control" />
        </div>
      </div>
    </div>
  </form>
</div>