<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">New Trip:</h1>
    </div>
  </div>

  <div ng-controller="CreateTripCtrl">
    <form class="css-form" novalidate name="tripForm">
      <p class="input-group">

      	<div class="form-group">

      		<label>driver:</label>
          <input type="text" ng-model="trip.driver" class="form-control" name="driver" required="" />
          <div ng-show="tripForm.$submitted || tripForm.driver.$touched">
            <div ng-show="tripForm.driver.$error.required">text field is required!</div>
          </div>
          <br />

    	    <label>car:</label>
          <input type="text" ng-model="trip.car" class="form-control" name="car" required="" />
          <div ng-show="tripForm.$submitted || tripForm.car.$touched">
            <div ng-show="tripForm.car.$error.required">text field is required!</div>
          </div>
          <br />

    	    <label>type:</label>
          <br />
          <div class="btn-group" name="type" ng-init="trip.type='noncorporate'" required="" >
            <label class="btn btn-primary" ng-model="trip.type" value="'noncorporate'" btn-radio="'noncorporate'">private</label>
            <label class="btn btn-primary" ng-model="trip.type" value="'corporate'" btn-radio="'corporate'">corporate</label>
        	</div>

    	  </div>
        <hr />

        <!-- if business trip -->
      	<div class="form-group">
          <div class="row"> 
            <div class="col-xs-4">

          		<label>account:</label>
              <br /> 
              <select ng-model="trip.account" class="form-control" ng-options="account.name for account in accounts">
              </select>

              <!--
                <select ng-model="myColor" ng-options="color.name for color in colors"></select><br>
              -->

              <br />
            </div>
          
            <div class="col-xs-8">
    	  	    <label>client:</label>
              <input type="text" ng-model="trip.client" class="form-control" name="client" required="" />
                <div ng-show="tripForm.$submitted || tripForm.client.$touched">
                  <div ng-show="tripForm.client.$error.required">text field is required!</div>
                </div>
              <br />
            </div>

          </div> 
    	  </div>
        <hr />
        <!-- end -->

        <div class="form-group">
          <div class="row"> 

            <div class="col-xs-6">
              <label>kilometer start:</label>
              <input type="text" ng-model="trip.kilometer_start" class="form-control" name="kilometer_start" required="" />
              <div ng-show="tripForm.$submitted || tripForm.kilometer_start.$touched">
                <div ng-show="tripForm.kilometer_start.$error.required">text field is required!</div>
              </div>
              <br />
            </div>

            <div class="col-xs-6">
              <label>kilometer end:</label>
              <input type="text" ng-model="trip.kilometer_end" name="kilometer_end" class="form-control" required="" />
              <div ng-show="tripForm.$submitted || tripForm.kilometer_end.$touched">
                <div ng-show="tripForm.kilometer_end.$error.required">text field is required!</div>
              </div>
              <br />
            </div>

          </div>

          <div class="row"> 
            <div class="col-xs-12">
              <label>kilometer:</label>
              <input type="text" ng-model="trip.kilometer" class="form-control" name="kilometer" required="" />
              <div ng-show="tripForm.$submitted || tripForm.kilometer.$touched">
                <div ng-show="tripForm.kilometer.$error.required">text field is required!</div>
              </div>
              <br />
            </div>
          </div>

          <label>origin:</label>        
          <div class="row"> 
            <div class="col-xs-12">
              <input type="text" ng-model="trip.origin" class="form-control" name="origin" required="" />
              <div ng-show="tripForm.$submitted || tripForm.origin.$touched">
                <div ng-show="tripForm.origin.$error.required">text field is required!</div>
              </div>
            </div>
          </div>

          <div class="row"> 
            <div class="col-xs-12">
              <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="trip.origin_time" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
            </div>
          </div>

          <label>destination:</label>        
          <div class="row"> 
            <div class="col-xs-12">
              <input type="text" ng-model="trip.destination" class="form-control" name="destination" required="" />
              <div ng-show="tripForm.$submitted || tripForm.destination.$touched">
                <div ng-show="tripForm.destination.$error.required">text field is required!</div>
              </div>
            </div>
          </div>

          <div class="row"> 
            <div class="col-xs-12">
              <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="trip.destination_time" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
            </div>
          </div>
        </div>
        <hr />

        <span class="input-group-btn">
          <button type="submit" class="btn btn-success btn-lg" ng-click="addTrip()" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">Submit</button>
        </span>

      </p>
    </form>
  </div>
</div>