<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">New Trip:</h1>
    </div>
  </div>

  <button class="btn btn-success btn-lg" ng-click="startWatching()">Start</button>
  <button class="btn btn-success btn-lg" ng-click="stopWatching()">Stop</button>
  <i class="glyphicon glyphicon-map-marker btn-lg"></i>
  <reverse-geocode lat="40.730885" lng="-73.997383" />
  <hr />

  <form class="css-form" novalidate name="form">
    <p class="input-group">

      <div class="row"> 
        <div class="col-xs-12">
          <div class="form-group">
      	    <label>car:</label>
            <select ng-model="trip.car" ng-click="sync()" class="form-control" ng-options="car.description for car in cars">
            </select>
          </div>
        </div>
      </div>


      <div class="row"> 
        <div class="col-xs-12 col-md-3">
          <div class="form-group">
      	    <label>type:</label>
            <br />
            <div class="btn-group" name="type" ng-init="trip.type='noncorporate'" required="" >
              <label class="btn btn-primary" ng-model="trip.type" value="'noncorporate'" btn-radio="'noncorporate'">private</label>
              <label class="btn btn-primary" ng-model="trip.type" value="'corporate'" btn-radio="'corporate'">corporate</label>
          	</div>
          </div>
        </div>

        <div class="col-xs-12 col-md-9">
          <div class="form-group">
            <label>account:</label>
            <select ng-model="trip.account" class="form-control" ng-options="account.name for account in accounts">
            </select>
          </div>
        </div> 
      </div>
      <hr />

      <div class="row"> 
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <label>kilometer start:</label>
            <input type="text" ng-model="trip.kilometer_start" class="form-control" name="kilometer_start" required="" />
            <div ng-show="form.$submitted || form.kilometer_start.$touched">
              <div class="label label-danger" ng-show="form.kilometer_start.$error.required">text field is required!</div>
            </div>
            <br />
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="trip.origin_time" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
          </div>
        </div>
      </div>

      <div class="row"> 
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <label>kilometer end:</label>
            <input type="text" ng-model="trip.kilometer_end" name="kilometer_end" class="form-control" required="" />
            <div ng-show="form.$submitted || form.kilometer_end.$touched">
              <div class="label label-danger" ng-show="form.kilometer_end.$error.required">text field is required!</div>
            </div>
            <br />
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="trip.destination_time" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
          </div>
        </div>
        <hr />
      </div>

      <!-- repeat -->
      <div ng-repeat="stay in stays">
        <ng-form name="stayForm">
          <div class="row"> 
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label>destination:</label>   
                <!-- trip.destination -->
                <input type="text" ng-model="stay.destination" class="form-control" name="destination" required="" />
                <div ng-show="stayForm.$submitted || stayForm.destination.$touched">
                  <div class="label label-danger" ng-show="stayForm.destination.$error.required">text field is required!</div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label>client:</label>
                <!-- trip.client -->
                <input type="text" ng-model="stay.client" class="form-control" name="client" required="" />
                  <div ng-show="stayForm.$submitted || stayForm.client.$touched">
                    <div class="label label-danger" ng-show="stayForm.client.$error.required">text field is required!</div>
                  </div>
                <br />
              </div>
            </div>
          </div>

          <div class="row"> 
            <div class="col-xs-12">
              <div class="form-group">
              <!-- trip.destination_time -->
                <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="stay.destination_time" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>

                <button type="button" class="btn btn-success btn-lg" ng-click="removeStay(stay)"><i class="glyphicon glyphicon-minus"></i></button>
              </div>
            </div>
          </div>
        </ng-form>
        <hr />
      </div>
      <!-- end -->

      <p class="help-block"><span class="label label-danger">{{ errors.other }}</span></p>

      <button type="button" class="btn btn-success btn-lg" ng-click="addStay()"><i class="glyphicon glyphicon-plus"></i></button>

      <button type="submit" class="btn btn-success btn-lg" ng-click="addTrip()" ng-disabled="form.user.$dirty && form.user.$invalid || form.email.$dirty && form.email.$invalid">Submit</button>

    </p>
  </form>
</div>