<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Details: {{destinations}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="thumbnail {{trip.type}}">
        <div class="caption">
          <h3>Info:</h3>
          <p>{{trip.user.name}}</p>
          <p>{{trip.car.licenseTag}}: {{trip.car.description}}</p>
          <p><small>
            <span>{{trip.type}}</span>
            <span class="pull-right">added: {{trip.timestamp | date:"dd.MM.yyyy 'um' HH:mm 'Uhr'"}}</span>
          </small></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>Details:</h3>
          <p>{{trip.kilometerStart}} km <i class="glyphicon glyphicon-arrow-right"></i> {{trip.kilometerEnd}} km</p>
          <p>{{trip.originTime | date:"dd.MM.yyyy 'um' HH:mm 'Uhr'"}} <i class="glyphicon glyphicon-arrow-right"></i> {{trip.destinationTime | date:"dd.MM.yyyy 'um' HH:mm 'Uhr'"}}</p>
          <p>{{trip.account.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-repeat="(key, stay) in trip.stays">
    <div class="col-xs-12">
      <div class="thumbnail">
        <div class="caption">
          <p><small><span>{{stay.destinationTime | date:"dd.MM.yyyy 'um' HH:mm 'Uhr'"}}</span></small></p>
          <h4>{{stay.destination}}: {{stay.client}}</h4>
        </div>
      </div>
    </div>
  </div>
  
  <p class="help-block"><span class="label label-danger">{{ errors.other }}</span></p>
	<button class="btn btn-success btn-lg" ng-click="returnToOverview()">Return</button>

</div>